@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './common/colors.scss';
@import './components/Header/Header.scss';
@import './components/sections/HomeSectionOne/_HomeSectionOne.scss';
@import './components/sections/HomeSectionTwo/HomeSectionTwo.scss';
@import './components/sections/HomeSectionThree/HomeSectionThree.scss';
@import './components/sections/HomeSectionFour/HomeSectionFour.scss';
@import './components/sections/HomeSectionFive/HomeSectionFive.scss';
@import './components/RecipeCard/RecipeCard.scss';
@import './components/Navbar/Navbar.scss';

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-size: 100%;
    color: $dark_blue;
    font-family: Prompt, Montserrat, 'Segoe UI', Tahoma, Verdana, sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color:#ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }