@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
@import './components/Header/Header.scss';
@import './components/sections/HomeSectionOne/_HomeSectionOne.scss';
@import './components/sections/HomeSectionTwo/HomeSectionTwo.scss';
@import './components/sections/HomeSectionThree/HomeSectionThree.scss';
@import './components/sections/HomeSectionFour/HomeSectionFour.scss';
@import './components/sections/HomeSectionFive/HomeSectionFive.scss';
@import './components/RecipeCard/RecipeCard.scss';

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color:#ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }