.card__recipe{
  display: flex;
  width: 35%;
  height: 30%;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  border-radius: 5px;
  align-items: stretch;
  // justify-content: space-between;
  font-size: large;

  box-shadow: 5px 5px 10px 4px #00000030;

  & .card__image {
    img {
      height: 100%;
    }
  }

  & .wrapper__card-title-btn {
    display: flex;
    width: 100%;
    flex-direction:column;
    align-content: center; 
    justify-content:space-evenly;
    & h3 {
        font-size: larger;
      }
     & button {
        width: 5rem;
        height: 2.3rem;
        background-color: $light_green;
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
        color: #ffffffc0;
        font-size: 12px;
        font-weight: bold;
        //   padding: 10px 30px;
        text-decoration: none;
        border: none;
        transition: 300ms ease-in-out;
      }
  
      & button:hover {
        background-color: $dark_green;
        transform: scale(1.1);
        cursor: pointer;
      }
  
      & button:active {
        position: relative;
        top: 1px;
      }
  }

}


    // & button {
    //   width: 5rem;
    //   height: 2.3rem;
    //   background-color: #9ae260;
    //   border-radius: 5px;
    //   display: inline-block;
    //   cursor: pointer;
    //   color: #ffffffc0;
    //   font-size: 12px;
    //   font-weight: bold;
    //   //   padding: 10px 30px;
    //   text-decoration: none;
    //   border: none;
    // }

    // & button:hover {
    //   background-color: #5cb811;
    // }

    // & button:active {
    //   position: relative;
    //   top: 1px;
    // }