@import "../../../common/common";

.section-one{
  @include sectionSize;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
  .container__sectionOne-content {
    grid-column: 2/7;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    row-gap: 2rem;
    width: 100%;

    & .wrapper__title {
      width: 100%;

      & h2 {
        color: $dark_blue;
        font-size: 250%;
        font-weight: bold;
      }
    }
    
    & .wrapper__form-search {
      justify-content: space-between;
      margin: 0 auto;
      width: 100%;
      
      & .form__searchRecipe {
        display: flex;
        flex-direction: row;
        column-gap: 1.2rem;
      }
      
      & .input__searchRecipe-text {
        width: 100%;
        min-width: 5rem;
        max-width: 20rem;
        height: 2.5rem;
        font-size: small;
        padding: 0 0 0 0.5rem;
        font-weight: 100;
        border-radius: 5px;
        border: 1px solid $light_gray;
        cursor: pointer;
      }
      
      & .input__searchRecipe-btn {
        background-color: $light_green;
        color: #ffffff;
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 5px;
        border: none;
        transition: 300ms ease-in-out;
        font-weight: lighter;
      }
      & .input__searchRecipe-btn:hover {
        transform: scale(1.1);
      }
    }
  }
  
  .container__sectionOne-image {
    grid-column: 7/13;
    justify-self: flex-end;
    & img {
      height: 100vh;
      width: auto;
    }
  }
}
