@import "../../../common/common";

.homeSectionOne {
  background-image: url("../../../../../assets/sections-backgrounds/section-One.svg");
  background-size:auto;
  background-position: right;
  background-repeat: no-repeat;
  @include sectionSize;

  display: flex;
  align-items: center;

  .container__sectionOne {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-content: stretch;
    align-items: center;
    row-gap: 2rem;

    & .wrapper__title {
      width: 40%;

      & h2 {
        color: $dark_blue;
        font-size: 300%;
        font-weight: bold;
      }
    }
    & .wrapper__form-search {
      justify-content: space-between;
      margin: 0 auto;
      width: 40%;

      & .form__searchRecipe {
        display: flex;
        flex-direction: row;
        column-gap: 1.2rem;
      }

      & .input__searchRecipe-text {
        color: #999999;
        width: 100%;
        height: 2rem;
        font-size: small;
        padding: 0 0 0 0.5rem;
        font-weight: 100;
        border-radius: 5px;
        border: 1px solid $light_gray;
        cursor: pointer;
      }

      & .input__searchRecipe-btn {
        background-color: $light_green;
        color: #ffffff;
        width: 2.6rem;
        height: 2.1rem;
        border-radius: 5px;
        border: none;
        transition: 300ms ease-in-out;
        font-weight: lighter;
      }
      & .input__searchRecipe-btn:hover {
        transform: scale(1.1);
      }
    }
  }
}
